
#startText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    width: 50%;
    margin: auto;
    padding: 10px;
}
#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(250, 242, 230);
    border-radius: 6px;
    align-items: center;
    padding: 15px;
}
p.space {
    padding: 15px;
}