#startSida {
    padding: 0px;
    align-items: flex-start;
}
#startText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    width: 50%;
    margin: auto;
    padding: 10px;
}
hr.rounded {
    border-radius: 6px;
    border-width: 6px;
}
#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(250, 242, 230);
    border-radius: 6px;
    align-items: center;
    padding: 15px;
}
#information {
    display: flex;
    flex-direction: column;
}
#workPlaces {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
#bottom-section {
    display: flex;
    padding: 15px;
}
p.space {
    padding: 15px;
}
.container {
    display: grid;
    grid-auto-rows: max-content;
}